/* common-style */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  margin: 0 auto;
  /* background-color: rgb(255, 221, 159); */
  /* max-width: 1551px; */
}
.container {
  max-width: 1320px;
  margin: 0 auto;
}


/* common-button */
.common-btn {
  padding: 12px 30px;
  border-radius: 12px;
  border: none;
  background-color: #1d4ed8;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.common-btn:hover {
  background-color: #1640b3;
}

/* ==========header (nav) section========== */
header {
  /* background-color: #ff9a9a; */
  height: 98px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* navigation-style */
nav ul {
  width: 365px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: #575757;
}
nav ul li a:hover {
  color: #1640b3;
}

/*==========Banner section==========*/
#banner {
  height: 786px;
  background-image: url(./images/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}
/* overlay effect */
.banner-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}
.banner-content {
  z-index: 1;
  width: 830px;
  height: 786px;
  color: white;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#banner .banner-content h1 {
  font-size: 80px;
  font-weight: bold;
}
#banner .banner-content .banner-content-description p {
  font-size: 22px;
  font-weight: 300;
  padding-top: 20px;
}
#banner .banner-content .common-btn {
  background-color: #1d4ed8;
  padding: 20px 60px;
  border-radius: 15px;
  border: none;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}
#banner .banner-content .common-btn:hover {
  background-color: #1640b3;
}
/* ==========Meet the Speakers Section========== */
#speaker-title{
  padding: 80px 0;
  font-size: 56px;
  font-weight: 900;
  text-align: center;
}
.speaker {
  width: 644px;
  height: 460px;
  border: 1px solid #E5E7EB;
  border-radius: 10px;
  overflow: hidden;
  /* background-color: #ffbaba; */
}
.speaker .speaker-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.speaker .speaker-details {
  padding: 24px;
}
.speaker .speaker-details h3 {
  color: #0D1B2A;
  margin: 8px 0;
  font-size: 20px;
  font-weight: bold;
}
.speaker .speaker-details span {
  color: #2563EB;
  font-size: 12px;
  font-weight: 600;
}
.speaker .speaker-details p {
  color: #575757;
  font-size: 14px;
  font-weight: normal;
}
.speaker-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;

}
